<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>NQ</string>
  <key>uuid</key>
  <string>86A03544-E2A4-4E37-87CF-FCC0D510DA71</string>
</dict>
</plist>
